<h2>I have...</h2>

  <%if @items.any?%>
    <div class='each_task_container'>
      <% @items.each do |item| %>
        <div class='each_task'>
         <fieldset>
           <legend><%=item[:task_date].strftime("%m-%d-%Y")%></legend>
             <li><strong class='task_strong'><%=item[:tasks]%></strong></li>
              <li class='task_td'><%=item[:location]%>
               <%=item[:task_time]%></li>
            <li><%=item[:note]%></li>
          </fieldset>
        <%end%>
      </div>
    </div>


    <%else%>
    <p>Nothing for today!</p>

   <%end%>
