<div class="task_title"><h3>I have...</h3></div>

  <% if @items.any? %>
     <% count = 0 %>
        <div class="row">
      <% @items.each do |item| %>
          <div class="small-11 small-centered columns panel each_task">
            <% count += 1 %>
              <div class='task_detail task_detail-<%= count %>'>
                <li><strong class='task_strong'><%= item[:tasks] %></strong></li>
                <li><%= item[:task_date].strftime("%m-%d-%Y") %></li>
                <li class='task_td'><%= item[:location] %>
                  <%= item[:task_time].strftime("%I:%M%p") %></li>
                <li><%= item[:note] %></li>
              </div>

          <div class="review-form review-form-<%= count %>">
            <%= form_for @tasks, url: task_path(item),
                method: :put  do |h| %>
                <ul><%= h.label :todo %>
                  <%= h.text_field :tasks, value: item[:tasks]  %>
                </ul>
                <ul><%= h.label :on %>
                  <%= h.text_field :task_date, value: item[:task_date], :id => "datepicker" %></ul>
                <ul><%= h.label :when %>
                    <%= h.text_field :task_time, value: item[:task_time].strftime("%I:%M%p") %>
                </ul>
                <ul><%= h.label :Location %>
                  <%= h.text_field :location, value: item[:location], :id => "pac-input", :class => "controls", :placeholder =>"Enter a location" %>
                </ul>
                <ul><%= h.label :Notes %>
                  <%= h.text_field :note, value: item[:note] %>
                </ul>
              <span class="cancel cancel-<%= count %>"><%= link_to "cancel", '#', name: count %>
                </span>
            <span class="submit-button"><%= h.submit "update" %></span>
              <%-end-%>
          </div>

            <div class = 'task_control'>
              <li class='edit   edit-<%= count %>'><%= link_to "edit", "#", name: count %> |</li>
                   <li class='delete delete-<%= count %>'><%= link_to 'delete',task_path(item), method: :delete, name: count %> |</li>
                <li class='share share-<%= count %>'><%= link_to 'share',events_path(item), method: :post, name: count %></li>
            </div>
        </div>
    <% end %>
    <div class="button small button_color"><%= link_to "ADD TASK", new_task_path %></div>
      </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="small-11 small-centered columns"> <div class= "panel">
        <h5>Nothing for today!</h5>
      </div>
      <div class="button_color">
      <div class="button tiny"><%= link_to "ADD TASK", new_task_path %></div>
      </div>
      </div>
<% end %>


