  <div class="large-4 columns form_tag">
    <div class="large-12 columns">
      <div class="task_message">
        <%if !@weather.nil?%>
          <div class="weather_report"><%=@weather%></div>
        <%end%></div>
        <%= form_for @tasks, method: :post  do |h| %>
          <fieldset>
            <legend>Task</legend>
              <div class='task_form'>
                <ul><%= h.label :todo %>
                  <%= h.text_field :tasks %></ul>
                <ul><%= h.label :on %>
                  <%= h.text_field :task_date, :id => "datepicker" %></ul>
                <ul><%= h.label :when %>
                  <%= h.select :task_time,
                    options_for_select(@hours.map{|hour| hour.avail_time.strftime("%I:%M%p")}) %>
                </ul>
                <ul><%= h.label :Location %>
                  <%= h.text_field :location, :id => "pac-input", :class => "controls", :placeholder =>"Enter a location" %></ul>
                <ul><%= h.label :Notes %>
                  <%= h.text_field :note %></ul>
                <ul><%= check_box_tag(:share) %>
                  <%= label_tag(:share, "share with the community") %>
                </ul>
              <a class="submit-button"><%= h.submit "add" %></a>
            </div>
        </fieldset>
       <% end %>
    </div>
  </div>

  <div class="large-5 columns">
    <div class="large-12 map columns">
      <div id="ct"></div>
        <div id="map-canvas"></div>
      </div>
    </div>

  <div class="large-3 columns">
    <div class="large-12 columns">

    </div>
  </div>
</div>




