<body onload=display_time();>
<div class="row task_row">
  <div class="large-5 columns form_tag">
      <div class="small-12 columns task_message">
      <div id="ct"></div>
      </div>
        <%= form_for @tasks, method: :post  do |h| %>
          <fieldset>
            <legend>Task</legend>
              <div class="small-11 columns task_input">
                <ul><%= h.label :todo %>
                  <%= h.text_field :tasks, placeholder: "Task" %></ul>
                <ul><%= h.label :on %>
                  <%= h.text_field :task_date, :id => "datepicker", placeholder: "Date" %></ul>
                <ul><%= h.label :when %>
                  <%= h.select :task_time,
                    options_for_select(@hours.map{|hour| hour.avail_time.strftime("%I:%M%p")}) %></ul>
                <ul><%= h.label :Location %>
                  <%= h.text_field :location, :id => "pac-input", :class => "controls" %></ul>
                <ul><%= h.label :Notes %>
                  <%= h.text_field :note, placeholder: "Notes" %></ul>
                <ul><%= check_box_tag(:share) %>
                  <%= label_tag(:share, "share with the community") %>
                </ul>
              <a class="submit-button" style="color: #fff;"><%= h.submit "add" %></a>
              </div>
          </fieldset>
        <% end %>
      </div>


  <div class="large-7 columns">
    <div class="small-12 map columns">
        <div id="map-canvas"></div>
        <%if !@weather.nil?%>
        <div class="weather panel">
          <div class="weather_report"><%=@weather%></div>
          </div>
        <%end%>
    </div>
  </div>
</div>
<div class="task_footer">
  </div>
</body>


