
<div class="event_div_1">
<div class"row">
  <div class="large-12 columns event_card">
        <div class="small-6 columns">
          <fieldset>
            <h3><%= @event.task.tasks %></h3>
            <ul><%= @event.user.username %></ul>
              <ul><%= @event.task.task_time.strftime("%I:%M%p") %></ul>
                <ul><%= @event.task.task_date %></ul>
              <ul><%= @event.task.location %></ul>
            <ul><%= @event.task.note %></ul>
          </fieldset>
        </div>

        <div class="small-6 columns event_map">
          <div id="map-canvas" style="opacity: .9; width: 450px; height: 320px;"></div>
        </div>
    </div>
  </div>
</div>
<div class="event_div">
    <div class="event_title"><p>Detail of this event.</p></div>
  <div class"row">
  <div class="large-12 columns">
      <div class="large-10 columns event_div_2">
        <fieldset>
          <h3>Who's coming?</h3>
            <div class="event_attendees">
            <% if @event %>
              <% @event.attendees.each do |attendee| %>
                <span>@<%= attendee.user.username %></span>
              <% end %>
            <% end %>
            </div>
            <div class="event_control">
              <% if joined? %>
                <ul><%= link_to "withdraw", attendee_path(@event), method: :delete  %></ul>
              <% else %>
                <ul><%= link_to "join", attendees_path(@event), method: :post  %></ul>
              <% end %>
            </div>
        </fieldset>
      </div>


  <div class="small-12 columns event_div_3">
    <fieldset>
      <h3>Chatter!</h3>
        <div class="small-8 columns event_chatter">
        <fieldset>
          <% if @display_message %>
            <% @display_message.each do |message| %>
             <li><%= message.user.username %>:</li>
              <li style="color: #FF6633;"><%= message.message %></li>
            <% end %>
          <% end %>
          </fieldset>
        </div>
        <div class="small-11 columns event_control">
          <%= form_for [ @event, @message ] do |h| %>
            <ul><%= h.text_field :message %></ul>
            <ul><%= h. submit "message" %></ul>
          <% end %>
        </div>
    </fieldset>
  </div>
</div>
 </div>
</div>
