

  <div class="index_div">
  <%= image_tag('cartoon_sunrise.jpg', height: '300', width: '270') %>
    <%if !@weather.nil?%>
        <%=@weather%>
      <%end%>
      <div id="map-container">
  <div id="map-canvas"></div>
</div>
  </div>

  <div class="div_task" >

  <div class='hour_container'>
    <%if @hours.any?%>
      <div class="hour_list">
        <% @hours.each do |hour| %>
          <ul class='listing'><%=hour.avail_time%></ul>
        <%end%>
      </div>
    <%end%>
  </div>

  <div class="form_tag">
  <p><button class='button tiny' id="showr">Show Availability</button></p>
      <%= form_for @tasks do |h| %>
  <fieldset>
    <legend>Task</legend>
      <div class='task_form'>

        <ul><%= h.label :todo %>
          <%= h.text_field :tasks %></ul>

        <ul><%= h.label :on %>
          <%= h.text_field :task_date, :id => "datepicker" %></ul>

        <ul><%= h.label :when %>
            <%= h.select :task_time, options_for_select(@hours.map{|hour| hour.avail_time}) %></ul>

        <ul><%= h.label :Location %>
          <%= h.text_field :location %></ul>


        <ul><%= h.label :Notes %>
          <%= h.text_field :note %></ul>

        <ul><%= h.submit "Do it Up" %></ul>

      <%-end-%>
  </fieldset>






