<!DOCTYPE html>
<html>
<head>
  <title>Schedule Up</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "vendor/modernizr" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
</head>

<body>
<div class="small 12 columns topbar-wrapper">
  <div class="row topbar">
    <div class="small-4 columns my_logo">
          <a href="/" style="color: #385561;">SchedUp</a>
      <div class="title"></div>
    </div>

    <div class="small-8 columns">
      <div class="my_links">
        <li class="active"><%= link_to "ADD TASK", new_task_path %></li>
        <li class="active"><%= link_to "MY TASK", tasks_path %></li>
        <li class="active"><%= link_to "SEARCH BY DATE", new_selectdate_path %></li>
        <li class="active"><%= link_to "SETUP", new_availability_path %></li>
        <% if current_user %>
        <li class="sign">
          <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
        <li class="twitter_in">
          <%= link_to image_tag("twitter.png"), user_omniauth_authorize_path(:twitter ) %>
        </li>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <%= yield %>



 <%= javascript_include_tag 'application' %>

  </body>
</html>
