<!DOCTYPE html>
<html>
<head>
  <title>Schedule Up</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
</head>

<body onload=display_time();>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="title_name"><a href="/"><strong>S</strong>chedUp</a></h1>
          </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">
        <% if current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter ) %>
        <% end %>
      </li>

      <li class="has-dropdown">
        <a href="#">Schedule</a>
        <ul class="dropdown">
          <li class="active"><%= link_to "task", new_task_path %></li>
          <li class="active"><%= link_to "whatDoIHave", tasks_path %></li>
          <li class="active"><%= link_to "byDate", new_selectdate_path %></li>
          <li class="active"><%= link_to "setup", new_availability_path %></li>
        </ul>
      </li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a><% if current_user.present? %>
      <span class="username">Welcome, <%= current_user.username %></span>
      <% end %></a></li>
    </ul>
  </section>
  </nav>
  <div class="alert_div">
    <% flash.each do |key, value| %>
      <li class="flash flash-<%= key %>">
        <%= value %>
      </li>
    <% end %>
  </div>



  <%= yield %>



 <%= javascript_include_tag 'application' %>

  </body>
</html>
